<html>
<body>
    <center>
<font color='blue'>  
{{first_name}}
<br>
{{last_name}}
    <br>
    {{email}}
    <br>
    {{phone}}
<table border='1'>
<caption>EDUCATION QUALIFICATIONS</caption>
    <tr>
        <th>Qualification</th>
        <th>Institution</th>
        <th>Year</th>
        <th>Percentage</th>
    </tr>
    <tr>
        <td>MCA</td>
        <td>ACET</td>
        <td>2023</td>
        <td>80</td>
    </tr>
    <tr>
        <td>BCA</td>
        <td>AKNU</td>
        <td>2021</td>
        <td>90</td>
    </tr>
    <tr>
        <td>MPC</td>
        <td>SRI SURYA JR COLLEGE</td>
        <td>2018</td>
        <td>97.5</td>
    </tr>
    <tr>
        <td>SSC</td>
        <td>ZPHS</td>
        <td>2016</td>
        <td>93</td>
    </tr>
</table>

</font> 
</body>
</html>